@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');

* {
    user-select: none;
}

body {
    font-family: 'Paytone One', sans-serif;
    background-color: #07575b;

}

#Seleccionar-mascota {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo {
    color: white;
    font-size: 50px;
    
}

.subtitulo {
    color: white;
    font-size: 20px;
}

.tarjetas, .tarjetas-ataques {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}

.tarjeta {
    flex-basis: calc(33.33% - 10px); 
}

.tarjeta-mokepon {
    width: 120px;
    height: 120px;
    background: #66a5ad;
    padding: 64px;
    box-sizing: border-box;
    border-radius: 20px;
    display: flex;
    flex-direction: column-reverse;
    color: #003b46;
    justify-content: center;
    align-items: center;
    border: 3px solid;
}

.tarjeta-mokepon:hover {
    background-color: #c4dfe6 ;
    color: #07575b;
    border: 3px solid #66a5ad ;
}

.tarjeta-mokepon img {
    width: 60px;
    height: 60px;
}

input {
    display: none;
}

input:checked + label {
    background-color: #d1d5d5;
}

#boton-mascota {
    width: 180px;
    height: 50px;
    background-color: transparent; 
    padding: 4px;
    box-sizing: border-box;
    margin-top: 10px;
    border: 3px solid;
    border-radius: 35px;
    font-family: 'Paytone One', sans-serif;
    color: #c4dfe6;
}

#boton-mascota:hover {
    background-color: #c4dfe6 ;
    color: #07575b;
    border: 3px solid #66a5ad ;
}

#seleccionar-ataque {
    flex-direction: column;
    align-items: center;
}

.boton-de-ataque {
    background: #66a5ad;
    border: 3px solid;
    border-radius: 15px;
    color: #003b46;
    width: 80px;
    height: 50px;
    font-family: 'Paytone One', sans-serif;
}

.boton-de-ataque:hover {
    background-color: #c4dfe6 ;
    color: #07575b;
    border: 3px solid #66a5ad ;
}

#mensajes {
    background: #c4dfe6  ;
    width: 280px;
    border-radius: 10px;
    color: #003b46;
    padding: 20px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#boton-reiniciar {
    color: #07575b;
    border: none;
    background: none;
}

#boton-reiniciar:hover {
    color: #66a5ad;
}

.ataques {
    display: grid;
    grid-template-columns: 100px 100px;
    text-align: center;
}
/* darle direccion column a la seccion de movimiento (ArielSq) */
#movimiento {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#ver-mapa {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#ver-mapa button {
    width: 80px;
    height: 50px;
    border-radius: 35px;
    background: transparent; 
    border: 3px solid #c4dfe6;;
    color: #c4dfe6;
    font-family: 'Paytone One', sans-serif;
    /*box-sizing: border-box;*/
    margin: 10px 3px;
}

@media (max-width: 560px) {
    .tarjetas, .tarjetas-ataques {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Dos columnas de igual ancho */
        gap: 10px; /* Espacio entre tarjetas */
    }
}

@media (max-width: 300px) {
    #ver-mapa div {
        display: flex;
        align-items: center;
       flex-direction: column;
    }
}
